//
   Created by oanhnguyen on 14/06/2014.

extends layout

block content
    ul
        each user in users
            li #{user.FirstName} #{user.LastName}
                p(style="margin-left:5px")=user.Phone